* {
	font-family: Assistant;
	direction: rtl;
	scroll-behavior: smooth;
}

body {
	margin: 0 auto;
}

/* NAV */
#logo {
	padding: 20px 40px;
}

#logo a {
	font-size: 2em;
	/*font-weight: 700;*/
	color: black;
}

nav {
	/*background-color: #9C492F;*/
}

#main-nav {
	display: flex;
	/*justify-content: center;*/
	list-style: none;
	margin: 0;
	padding: 0 100px;
}

#main-nav>li {
	font-size: 1.3em;
	padding-bottom: 10px;
}

nav a {
	padding: 10px 50px;
	text-decoration: none;
	color: black;
}

nav a:hover {
	background-color: #e6e6e6;
}

/* CONTENT */

section {
	padding: 30px 12%;
}

#cover {
	display: flex;
	justify-content: center;
	align-content: center;
	height: 80vh;

}

#cover img {
	max-width: 100%;
	object-fit: cover;
}

#about {
	background-color: #CCDFE5;
}

#recommend {
	background-color: #FFBB9C;
}

#contact {
	background-color: #CCDFE5;
}

/* FOOTER */

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background-color: #FFBB9C;
}

footer p {

}

.small-text {
	font-size: 0.8em;
}